body{
    background-image: linear-gradient(to left, grey, #dfdfe7);
    }
h1{
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
nav{
    background-image: linear-gradient(to right, #898997, grey, black);
    }
nav ul li:hover{
    transform: scale(1.2);
}
h2{
    margin: 1rem;
    font-size: 2rem;
}

.foot{
    margin-top: 2rem;
    background-image: linear-gradient(to right, #898997, rgb(99, 95, 95));
}
h3{
    font-size: small;
}

.divsMat{
    border: 0.3rem black dotted;
}

