@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to left, grey, #dfdfe7, grey); }

header {
  background-color: rgba(231, 226, 226, 0.205);
  border: 0.3rem solid black; }
  header h1 {
    grid-area: h1;
    text-align: center;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-family: 'Chivo', sans-serif, 'Roboto';
    text-transform: uppercase; }

nav {
  background-image: linear-gradient(to left, grey, #dfdfe7, grey); }
  nav .navDrop {
    background-color: rgba(206, 201, 201, 0.753); }
    nav .navDrop:hover {
      background-color: rgba(231, 226, 226, 0.205); }
  nav ul li {
    margin: 0.4rem;
    padding: 0.1rem;
    border: 0.1rem black solid;
    font-size: 1rem;
    text-align: center;
    text-decoration: none; }
    nav ul li:hover {
      transform: scale(1.1);
      background-color: rgba(231, 226, 226, 0.205); }

main {
  display: grid;
  grid-template-areas: "h2" "prim" "img" "seg";
  justify-content: center;
  padding: 1.5rem;
  margin: 1.5rem; }
  main h2 {
    grid-area: h2;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(231, 226, 226, 0.205);
    margin: 1rem;
    padding: 1rem; }
  main .bienv {
    grid-area: prim;
    padding: 0.2rem;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1rem; }
  main .imgInd {
    grid-area: img;
    transform: scale(60%); }
  main .segunda {
    display: none;
    background-color: #c3ddc3;
    grid-area: seg;
    text-align: justify;
    align-items: center; }

footer {
  text-align: center;
  background-color: rgba(231, 226, 226, 0.205); }
  footer h3 {
    font-size: 1rem; }

@media only screen and (min-width: 600px) {
  .primera {
    border: none; }
  .segunda {
    display: contents; }
  .imgInd {
    transform: scale(80%);
    padding: 2rem;
    margin: 2rem; } }

@media only screen and (min-width: 1024px) {
  main {
    grid-template-areas: "h2 h2" "prim prim" "img seg"; }
    main .imgInd {
      transform: scale(100%); }
    main .segunda {
      display: contents;
      align-items: center; }
  footer {
    display: grid;
    grid-template-areas: "h3 h3" "insta lucas";
    grid-template-columns: 2fr 0.002fr;
    text-align: left; }
    footer h3 {
      grid-area: h3; }
    footer p {
      grid-area: lucas;
      text-align: right; }
    footer .logoF {
      grid-area: insta; } }

/*Nosotros*/
.mainNos {
  display: grid;
  grid-template-areas: "h2" "texto" "div";
  align-items: center;
  text-align: center;
  justify-content: center; }
  .mainNos h2 {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(231, 226, 226, 0.205);
    margin: 1rem;
    padding: 1rem;
    grid-area: h2; }
  .mainNos .divMainN {
    grid-area: texto; }
  .mainNos .sectionN {
    grid-area: div; }
    .mainNos .sectionN .imageNos {
      transform: scale(70%); }

.pSectionNosotros {
  display: none;
  text-align: center;
  margin: 2rem;
  padding: 1.5rem; }

@media only screen and (min-width: 600px) {
  .pSectionNosotros {
    display: contents; } }

@media only screen and (min-width: 1024px) {
  .sectionN {
    display: flex;
    align-items: center; } }

/*trabajos*/
.mainT {
  grid-template-areas: "h2" "texto" "carro";
  text-align: center; }
  .mainT h2 {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(231, 226, 226, 0.205);
    margin: 1rem;
    padding: 1rem;
    grid-area: h2; }
  .mainT p {
    text-align: center;
    grid-area: texto; }
  .mainT .carro {
    grid-area: carro;
    margin: 2rem;
    padding: 2rem; }

/*material*/
.materialA {
  display: grid;
  grid-template-areas: "h2" "p" "s1" "s2" "s3";
  justify-content: center; }
  .materialA h2 {
    grid-area: h2;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(231, 226, 226, 0.205);
    margin: 1rem;
    padding: 1rem; }
  .materialA .pMainM {
    margin: 2rem;
    grid-area: p; }
  .materialA .sectionM {
    grid-area: s1; }
  .materialA .sectionM2 {
    grid-area: s2; }
  .materialA .sectionM3 {
    grid-area: s3;
    display: none; }

.imgMat {
  transform: scale(50%); }

@media only screen and (min-width: 1024px) {
  .sectionM {
    display: flex;
    margin: 2rem;
    align-items: center; }
  .sectionM2 {
    display: flex;
    margin: 2rem;
    align-items: center;
    flex-direction: row-reverse; }
  .sectionM3 {
    grid-area: s3;
    display: content flex;
    margin: 1rem;
    justify-content: center;
    transform: scale(100%); }
  .imgMat {
    transform: scale(80%); } }

/*contacto*/
.divContacto {
  grid-template-areas: "h2" "p" "form"; }
  .divContacto h2 {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(231, 226, 226, 0.205);
    margin: 1rem;
    padding: 1rem; }
  .divContacto .pContact {
    text-align: center;
    height: 10%;
    grid-area: p;
    padding: 3rem;
    margin: 1rem; }
  .divContacto .formulario {
    height: 60%;
    grid-area: form;
    margin: 2rem;
    padding: 1rem; }
