@import "utilities/variables";
@import "utilities/fonts";
@import "layout/header&footer";
@import "layout/queries";
@import "layout/home";
@import "layout/nosotros";
@import "layout/trabajos";
@import "layout/material";
@import "layout/contacto";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to left, grey, #dfdfe7, grey);
}
::selection{
    background-color: rgba(128, 128, 128, 0.432);
}