@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kalam:wght@300&display=swap');

//family
//font-family: 'Caveat', cursive;
//font-family: 'Kalam', cursive;

%caveat{
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;    
}
%kalam{font-family: 'Kalam', cursive;
    font-size: 1.5rem;
 }