$color-headfoot: rgba(231, 226, 226, 0.205);
$color-foot: rgba(0, 0, 0, 0.651);



@import "fonts";

//mixin
@mixin font-text {
    font-family: 'Ms Madi', cursive;
    font-size: 2rem;
}

//extend
%fCenter{
    display: flex;
    justify-content: center;
};
//map
$font:(Caveat:('Caveat', cursive), Kalam:('Kalam', cursive));