@import "../utilities/fonts";
@import "../utilities/variables";
@import "../layout/queries";

.mainContacto{
    @extend %fCenter;
    flex-direction: column;
    @extend %kalam;
    @include desktop{
        display: grid;
        grid-template-areas:"texto form";
    }

    .textoContacto{
        grid-area: texto;
        @extend %kalam;
        
    .mapa{
        grid-area: mapa;
        iframe{
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
            box-shadow: -2px -2px 40px rgba(0, 0, 0, 0.562);
        }
    } 
  
    }
    
    .formulario{
        padding: 2rem;
        grid-area: form;
        @include desktop{
            display: block;
            align-content: center;
            margin-right: 1rem;
            margin-top: 3rem;
        }
        .texFor{
            &:focus{
                box-shadow: none;
                outline: black;
                border: 1px black solid;
            }
        }
        .botone{
            background-color: rgba(29, 27, 27, 0.863);
            border: none;
            &:focus{
                box-shadow: none;
                outline: none;
            }
            &:active{
                box-shadow: 1px 1px 1px 1px black;
            }
        }
    }

}
