@import "../utilities/fonts";
@import "../utilities/variables";
@import "../layout/queries";

.mainMat{
    flex-direction: column;
    @extend %fCenter;
    h1{
        
    }
    .ul{
        li{
            list-style: circle
        }
    }
    .boxMat{
        .divM{
            @extend %fCenter;
            flex-direction: column;
            margin: 2rem;
            @include desktop{
                display: flex;
                flex-direction: row;
                align-items: center
            }
    
        }
        .divM2{
            @extend %fCenter;
            flex-direction: column;
            margin: 2rem;
            @include desktop{
                flex-direction: column-reverse;
            }
        }
    }

}